.loginCard {
  box-sizing: border-box;
  padding: 10px;
  color: #B3B5BF;
  max-width: 300px;
  width: 100%;

  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  gap: 4px;
}

.button {
  border-radius: 8px;
  background-color: #FFD54F;
  color: white;
  box-shadow: 0px 4px 4px 0px #feb91b;
  border: none;
  width: 100%;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 4px;
}

.loginCard a {
  font-weight: bold;
  color: #B3B5BF;
}

.politics {
  font-size: 12px;
  margin-top: 16px;
}