.quizCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

/* .quizWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 16px;
    width: 90%;
    max-width: 800px;
    background-color: white;
    
} */

.content{
    padding: 20px;
    width: 100%;
}

.colorBoxRed{
    padding: 10px;
    width: 100%;
    background-color: #ffdfe0;
    color: #ea7272;
}
 

.colorBoxGreen{
    padding: 10px;
    width: 100%; 
    background-color: #d6ffb8;
    color: #56a700;
}

.colorBoxGreen img{
    width: 90px;
    height: 90px;
}
.colorBoxRed img{
    width: 90px;
    height: 90px;
}

.leftSide{
    display: flex;
    flex-direction: column;
}

.leftSide p{
    margin-top: 0px;
    margin-bottom: 8px;
    color: #7a7979;
    font-size: 12px;
}

.profImage {
    width: 200px;
    align-items: center;
    height: 100%;
}

.refill {
     display: flex;
     flex-direction: row;
     align-items: center;
}

.refill img {
    width: 30px;
    height: 30px;
}
 

.profImagee {
    width: 200px;
    height: 200px;
}


.quizText img {
    width: 100%;
    align-items: center;
}

.imageTextWrapper {
    display: flex;
    flex-direction: row;
}
.imageTextWrapper h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.imageTextConfirmWrapper {
    display: flex;
    flex-direction: row;
}

.textAnswersWrapper{
    display: flex;
    flex-direction: row-reverse;
}

.quizText{
    display: flex;
    flex-direction: column;
}

.quizTitle{
    font-weight: bold;
    text-align: center;
}

.answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.answers button{
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12pt;
    
}

button{
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12pt; 

}

.column{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.rowWrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-direction: row; 
}

.answerText{ 
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    width: 400px;
}

.answerText h1 { 
    margin-top: 0px;
}

.answerText p { 
    margin-top: 0px;
}

.titleMessage {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (max-width: 800px) {
    .quizWrapper {
      flex-direction: column;
    }

    .imageTextWrapper{
        flex-direction: column;
    }
  }
