.card {
  padding: 15px;
  border-radius: 16px;
  border: 1px solid lightgray;
  border-bottom: 3px solid lightgray;
  background-color: white;
  filter: drop-shadow(0px 5px 2px #cccaca);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.cardWithoutPadding { 
  border-radius: 16px;
  border: 1px solid lightgray;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}



.cardTitle{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card img {
  width: 80px;
  height: 80px;
}

.teacher {
  color: #666;
}

.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.column {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  
}

.seeMore{
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}

