.BigAchievementsCard {
    display: flex;
    padding: 8px;
    border-radius: 16px;

    max-width: 800px;
    width: 90%;
    height: 100%;
    flex-direction: column;
    justify-content: center;

}

.titulo{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
}