.lessonsCardsBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  height: 160px;
}

.lessonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-top: 20px;
}


@media (max-width: 1070px) {
  .lessonsCardsBar {
    flex-direction: column;
    height: fit-content;
  }
}