.chapterNumber {
  width: 200px;
}

.listItem li {
  margin: 0;
  padding: 0;
}

.listBlock {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.listItemCourse {
  margin-top: -1px;
  margin-left: 0px;
  border: 1px solid black;
  list-style-type: none;
  padding: 3px;
  padding-left: 10px;
}

.listItemLesson {
  margin-top: -1px;
  margin-left: 80px;
  border: 1px solid black;
  list-style-type: none;
  padding: 3px;
  padding-left: 10px;
}

.listItemQuiz {
  margin-top: -1px;
  margin-left: 120px;
  border: 1px solid black;
  list-style-type: none;
  padding: 3px;
  padding-left: 10px;
}

.space {
  height: 10px;
}

.actionButton {
  border: 0px solid black;
  background-color: white;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.actionButton img {
  height: 20px;
  width: 20px;
}

.line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #f6f6f6;
  border: 2px solid #ececec;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
  outline: none;
}

.text textarea::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #8a8a8a;
}

.listItemChapter {
  margin-top: -1px;
  margin-left: 40px;
  border: 1px solid black;
  list-style-type: none;
  padding: 3px;
  padding-left: 10px;
}

.line {
    
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  gap: 8px;
}

.row Input {
  padding: 0;
  height: 30px;
}
