.radioLabel {
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 8px;
    box-shadow: #EEEEEE 0px 7px 0px 0px;
    border: 2px solid #EEEEEE;
  }
  
  .radioWrapper input{
    visibility: hidden;
  }
  
  .radioWrapper input:checked + .radioLabel{
    background-color: #67BEF8;
    border: 2px solid #4497D6;
    box-shadow: #4497D6 0px 7px 0px 0px;
    color: white;
}