.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.column {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.teacher {
    color: #666;
}