.editQuizTitle{
    margin-bottom: 8px;
}
.editQuizText{
    margin-bottom: 8pxpx;

}
.editQuizAnswers{
    width: 500px;
    margin-bottom: 8px;
}

.row{
    display: flex;
    flex-direction: row;
}

.space{
    height: 10px;
}


.horizontalSpace{
    width: 30px;
}
