.cardWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 16px;
    width: 90%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
}