.content{
    display: flex;
    flex-direction: row;
}

.img {
    width: 200px;
    height: 200px;
}
.img img {
    height: 200px;
}
.text{
    display: flex;
    flex-direction: column;
    width: 100%;
}