.image img {
    width: 100px;
    height: 100px;
}

.image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.lessonButton {
    margin-top: 30px;
    display: flex;
    width: 150px;
    height: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
}

.lessonTitle{
    text-align: center;
}