

.cardWrapper {
  display: flex;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid lightgray;
  max-width: 800px;
  width: 90%;
  height: 100%;
  flex-direction: column;
  justify-content: center;

}

.titulo{
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  width: 100%;
}

.statisticsCardLine{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
}

.statisticCardInfo {
  margin-top: 20px;
  display: flex;
  width: 120px;
  justify-content: center;
}

.statisticsCardItem {
    width: 60px;
    float: left;
}

.statisticsCardItem {
    width: 60px;
    float: left;
    flex-direction: column;
}

.statisticsCardItem img{
    height: 50px;
    
}

.col {
    display: flex;
    flex-direction: column;
  }
  
.row {
  display: flex;
  flex-direction: row;
}

.image {
  width: 40px
}
@media (max-width: 800px) {
  .statisticsCardLine{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;  
  }
}

