.cardWrapper {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 980px;
  border-radius: 16px;
  border: 1px solid lightgray;
  background-color: white;
  border-bottom: 3px solid lightgray;
  filter: drop-shadow(0px 5px 2px #cccaca);
  justify-content: center;
}

.título{
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  width: 100%;
}

.statisticsCardLine{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  width: 100%;  
}

.statisticCardInfo {
  margin-top: 20px;
  display: flex;
  width: 180px;
  justify-content: center;
}

.statisticsCardItem {
  width: 180px;
}

.statisticsCardItem img{
    height: 70px;
    
}

.col {
    display: flex;
    flex-direction: column;
  }
  
.row {
  display: flex;
  flex-direction: row;
  width: 180px;
}

.image {
  width: 40px
}
@media (max-width: 800px) {
  .statisticsCardLine{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;  
  }
}

